.title, figcaption {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-footer p {
  font-style: italic;
  text-align: center;
}

.rrssb-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100px;
}
